<h1>Invoices</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Total amount</th>
        <th>Client name</th>
        <th>Hours</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
      <%
        @hours = Hour.where(invoice_id: invoice.id).to_a
        if !@hours.blank?
          @client = Client.find_by id: @hours.first.client_id
        end
       %>
        <tr>
            <td><%= invoice.id %></td>
            <td>€ <%= invoice.total_amount %></td>
            <td><%= @client.name if !@client.blank?%></td>
            <td>
              <% @hours.each do |hour| %>
                <% concat simple_format hour.description %>
              <% end %>
            </td>
          <td><%= link_to 'Show', invoice %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
