<p>
  <strong>Date:</strong>
  <%= @hour.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @hour.start_time.strftime('%H:%M') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @hour.end_time.strftime('%H:%M') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hour.description %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@hour.user_id).name %>
</p>
<p>
  <strong>Client:</strong>
  <%= Client.find(@hour.client_id).name %>
</p>

<p>
  <strong>Fatturata?:</strong>
  <%= @hour.is_fatturata %>
</p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
