<%= form_with(model: client, local: true) do |form| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <%= errors_for(@client) %>

    <div class="form-group row">
        <%= form.label :name, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :name, id: :client_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :codice_fiscale, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :codice_fiscale, id: :client_codice_fiscale, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :email, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :email, id: :client_email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :partita_iva, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.number_field :partita_iva, id: :client_partita_iva, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :street_name, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :street_name, id: :client_street_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :street_number, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.number_field :street_number, id: :client_street_number, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :city, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :city, id: :client_city, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :postal_code, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.number_field :postal_code, id: :client_postal_code, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :state, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :state, id: :client_state, class: 'form-control' %>
      </div>
    </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>

<% end %>
