<%= form_with(model: client, local: true) do |form| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
          <% client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, id: :client_name, class: 'form-control' %>

  <%= form.label :codice_fiscale %>
  <%= form.text_field :codice_fiscale, id: :client_codice_fiscale, class: 'form-control' %>

  <%= form.label :email %>
  <%= form.text_field :email, id: :client_email, class: 'form-control' %>

  <%= form.label :partita_iva %>
  <%= form.number_field :partita_iva, id: :client_partita_iva, class: 'form-control' %>

  <%= form.label :street_name %>

  <%= form.text_field :street_name, id: :client_street_name, class: 'form-control' %>

  <%= form.label :street_number %>
  <%= form.number_field :street_number, id: :client_street_number, class: 'form-control' %>

  <%= form.label :city %>
  <%= form.text_field :city, id: :client_city, class: 'form-control' %>

  <%= form.label :postal_code %>
  <%= form.number_field :postal_code, id: :client_postal_code, class: 'form-control' %>

  <%= form.label :state %>
  <%= form.text_field :state, id: :client_state, class: 'form-control' %>
  <br/>
  <br/>
  <%= form.submit "Submit", class: "btn btn-primary" %>

<% end %>
