<%= form_with(model: client, local: true) do |form| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
          <% client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <%= form.label :name %>
      <%= form.text_field :name, id: :client_name %>

      <%= form.label :codice_fiscale %>
      <%= form.text_field :codice_fiscale, id: :client_codice_fiscale %>

      <%= form.label :email %>
      <%= form.text_field :email, id: :client_email %>

      <%= form.label :partita_iva %>
      <%= form.number_field :partita_iva, id: :client_partita_iva %>

      <%= form.submit "Submit", class: "btn btn-primary"%>

    </div>
  </div>
<% end %>
