
<h1><%= @client.name %></h1>
<div class="container center">
  <div class="row">
    <div class="col-md-12">
      <h3>Total amount billed: € <%= @invoices.pluck(:total_amount).reduce(:+) %></h3>
      <hr/>
    </div>
    <div class="col-md-8">
      <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Codice fiscale:</strong>
              <%= @client.codice_fiscale %>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Email:</strong>
              <%= @client.email %>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Partita iva:</strong>
              <%= @client.partita_iva %>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Address:</strong>
              <%= @client.address %>
            </p>
          </div>
          <div class="col-md-12">
          <%= line_chart Hour.where(user_id: current_user.id, client_id: @client.id).group_by_day(:date, format: "%d/%m/%y").count, download: "hours_done_#{@client.name}", ytitle: "Hours done", xtitle: "Day"  %>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <small>Amount of hour billed<br/>[false = Unbilled hours, true = billed hours]</small>
      <%= pie_chart(Hour.where(user_id: current_user.id, client_id: @client.id).group(:is_fatturata).count, download: "total_#{@client.name}", donut: true, legend: 'bottom') %>
    </div>
  </div>
</div>

<hr/>

<% @hours = Hour.where(client_id: @client.id) %>
<%= render 'hours/hour_list' %>
<% if Client.where(user_id: current_user.id).exists? %>
  <%= link_to 'New Hour', new_hour_path(:client_base_id => @client.id), class: "btn btn-primary" %>
<% end %>
<%= link_to 'New Client', new_client_path, class: "btn btn-primary float-right" %>
<br/><br/>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Go to client list', clients_path %>
